body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.utils {
  display: flex;
  flex-direction: column;;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.utils > div {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.triangle {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: center;

  overflow: auto;

  .row {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;

    span {
      display: inline-block;
      border-style: solid;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .filled {
      background-color: black;
    }
    .empty {
      background-color: white;
    }
  }
}